In [13]:
import sys
import pandas as pd
import numpy as np

sys.path.append('../function/')
from function import test

# 14.1 Simulate Data

I skip this part because it's easy and I can't generate the exactly same random number as in R.

I'll import the data from assignment in R for the rest part.

In [56]:
# set the seed
np.random.seed(1)
# number of products
J = 10
# dimension of product characteristics including the intercept
K = 3
# number of markets
T = 100
# number of consumers per market
N = 500
# number of Monte Carlo
L = 500

# set parameters of interests
beta = [4.0000000, 0.1836433, -0.8356286]
print(f'beta is {beta}')

sigma = [1.5952808, 0.3295078, 0.8204684]
print(f'sigma is {sigma}')

mu = 0.5
omega = 1

# set auxiliary parameters
price_xi = 1
sd_x = 2
sd_xi = 0.1
sd_c = 0.5
sd_p = 0.01

beta is [4.0, 0.1836433, -0.8356286]
sigma is [1.5952808, 0.3295078, 0.8204684]

In [75]:
V = pd.read_csv('data/V.csv')
X = pd.read_csv('data/X.csv')
M = pd.read_csv('data/M.csv')
df = pd.read_csv('data/df.csv')
df_share_smooth = pd.read_csv('data/df_share_smooth.csv')
df_choice_smooth = pd.read_csv('data/df_choice_smooth.csv')
V_mcmc = pd.read_csv('data/V_mcmc.csv')
e_mcmc = pd.read_csv('data/e_mcmc.csv')
beta = np.array(pd.read_csv('data/beta.csv')).reshape(-1,)
sigma = np.array(pd.read_csv('data/sigma.csv')).reshape(-1,)

# 14.2 Estimate the parameters

## 14.2.1

In [61]:
#import V_mcmc from R
V_mcmc

         i    t     v_x_1     v_x_2     v_x_3       v_p
0        1    1  0.488092 -1.508735  0.528268 -0.468416
1        2    1  1.157528  0.506822 -0.527316 -0.515559
2        3    1 -2.494002 -0.318272 -0.099627 -0.893371
3        4    1  0.095167 -0.133354 -2.050517  1.918877
4        5    1 -1.113310  0.103226  2.243173  0.753177
...    ...  ...       ...       ...       ...       ...
49995  496  100 -0.819919 -2.236706 -0.443720  0.167854
49996  497  100  0.137973 -0.702396  0.937442  0.385176
49997  498  100  0.568157 -2.325619  1.246583  0.639265
49998  499  100  0.586307 -1.054256 -0.559406 -0.979268
49999  500  100  0.254454  2.145978  0.868148 -1.483094

[50000 rows x 6 columns]

In [74]:
df_mcmc = pd.DataFrame([(t,i,j) for t in range(1, T+1) for i in range(1, L+1) for j in range(J+1)])
df_mcmc.columns = ['t', 'i', 'j']
df_mcmc = pd.merge(df_mcmc, V_mcmc, how='left', on=['i', 't'])
df_mcmc = pd.merge(df_mcmc, X, how='left', on=['j'])
df_mcmc = pd.merge(df_mcmc, M, how='left', on=['j', 't'])
df_mcmc = df_mcmc.dropna(subset = ['p']).sort_values(by=['t', 'i', 'j'], ascending=True)
df_mcmc

,t,i,j,v_x_1,v_x_2,v_x_3,v_p,x_1,x_2,x_3,xi,c,p
0,1,1,0,0.488092,-1.508735,0.528268,-0.468416,0,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,1,1,0.488092,-1.508735,0.528268,-0.468416,1,0.974858,-0.032381,-0.015580,0.603655,1.584006
4,1,1,4,0.488092,-1.508735,0.528268,-0.468416,1,-0.610777,1.187803,0.041794,1.301829,2.352555
11,1,2,0,1.157528,0.506822,-0.527316,-0.515559,0,0.000000,0.000000,0.000000,0.000000,0.000000
12,1,2,1,1.157528,0.506822,-0.527316,-0.515559,1,0.974858,-0.032381,-0.015580,0.603655,1.584006
...,...,...,...,...,...,...,...,...,...,...,...,...,...
549989,100,500,0,0.254454,2.145978,0.868148,-1.483094,0,0.000000,0.000000,0.000000,0.000000,0.000000
549990,100,500,1,0.254454,2.145978,0.868148,-1.483094,1,0.974858,-0.032381,-0.059143,0.731577,1.667251
549991,100,500,2,0.254454,2.145978,0.868148,-1.483094,1,1.476649,1.887672,-0.133403,0.645601,1.496741
549992,100,500,3,0.254454,2.145978,0.868148,-1.483094,1,1.151563,1.642442,-0.109730,1.074310,1.967498
549994,100,500,5,0.254454,2.145978,0.868148,-1.483094,1,3.023562,1.837955,-0.032649,0.420053,1.388461

In [69]:
#import e_mcmc from R
e_mcmc = np.array(e_mcmc).reshape(-1,)
e_mcmc[:6]

array([ 0.10060134,  2.70398241,  1.05402778,  2.46973885,  1.6721181 ,
       -1.02838718])

## 14.2.2

In [79]:
theta = list(beta) + list(sigma) + [mu] + [omega]
theta

[4.0,
 0.183643324222082,
 -0.835628612410047,
 1.59528080213779,
 0.329507771815361,
 0.820468384118015,
 0.5,
 1]

## 14.2.3

In [78]:
list([1])

[1]

### 14.1.2

In [54]:
# make product characteristics data
X = (sd_x * np.random.normal(0, 1, J * (K - 1))).reshape((J, K-1))
X = np.concatenate((np.ones((J,1)), X), axis=1)
X = np.concatenate((np.arange(1, J+1).reshape(-1,1), X), axis=1)
X = np.concatenate((np.zeros(K+1).reshape(1,-1), X), axis=0)
X = pd.DataFrame(X)
col_name = ['j'] + [ 'x_' + str(i) for i in range(1, K+1)]
X.columns = col_name
X

       j  x_1       x_2       x_3
0    0.0  0.0  0.000000  0.000000
1    1.0  1.0 -1.073259  0.630805
2    2.0  1.0  0.842101 -2.131206
3    3.0  1.0 -1.772479 -0.951467
4    4.0  1.0  1.379365  1.122384
5    5.0  1.0 -2.611097 -2.238951
6    6.0  1.0  1.473675  3.149268
7    7.0  1.0 -0.062150 -1.366893
8    8.0  1.0  2.191259 -0.619153
9    9.0  1.0  1.451504  3.098143
10  10.0  1.0  1.260160  0.146986

### 14.1.3

In [55]:
[(j,t) for j in range(1, J+1) for t in range(1, T+1)]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (1, 15),
 (1, 16),
 (1, 17),
 (1, 18),
 (1, 19),
 (1, 20),
 (1, 21),
 (1, 22),
 (1, 23),
 (1, 24),
 (1, 25),
 (1, 26),
 (1, 27),
 (1, 28),
 (1, 29),
 (1, 30),
 (1, 31),
 (1, 32),
 (1, 33),
 (1, 34),
 (1, 35),
 (1, 36),
 (1, 37),
 (1, 38),
 (1, 39),
 (1, 40),
 (1, 41),
 (1, 42),
 (1, 43),
 (1, 44),
 (1, 45),
 (1, 46),
 (1, 47),
 (1, 48),
 (1, 49),
 (1, 50),
 (1, 51),
 (1, 52),
 (1, 53),
 (1, 54),
 (1, 55),
 (1, 56),
 (1, 57),
 (1, 58),
 (1, 59),
 (1, 60),
 (1, 61),
 (1, 62),
 (1, 63),
 (1, 64),
 (1, 65),
 (1, 66),
 (1, 67),
 (1, 68),
 (1, 69),
 (1, 70),
 (1, 71),
 (1, 72),
 (1, 73),
 (1, 74),
 (1, 75),
 (1, 76),
 (1, 77),
 (1, 78),
 (1, 79),
 (1, 80),
 (1, 81),
 (1, 82),
 (1, 83),
 (1, 84),
 (1, 85),
 (1, 86),
 (1, 87),
 (1, 88),
 (1, 89),
 (1, 90),
 (1, 91),
 (1, 92),
 (1, 93),
 (1, 94),
 (1, 95),
 (1, 96),
 (1, 97),
 (1, 98),
 (1, 99),
 (1, 100),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (2, 15),
 (2, 16),
 (2, 17),
 (2, 18),
 (2, 19),
 (2, 20),
 (2, 21),
 (2, 22),
 (2, 23),
 (2, 24),
 (2, 25),
 (2, 26),
 (2, 27),
 (2, 28),
 (2, 29),
 (2, 30),
 (2, 31),
 (2, 32),
 (2, 33),
 (2, 34),
 (2, 35),
 (2, 36),
 (2, 37),
 (2, 38),
 (2, 39),
 (2, 40),
 (2, 41),
 (2, 42),
 (2, 43),
 (2, 44),
 (2, 45),
 (2, 46),
 (2, 47),
 (2, 48),
 (2, 49),
 (2, 50),
 (2, 51),
 (2, 52),
 (2, 53),
 (2, 54),
 (2, 55),
 (2, 56),
 (2, 57),
 (2, 58),
 (2, 59),
 (2, 60),
 (2, 61),
 (2, 62),
 (2, 63),
 (2, 64),
 (2, 65),
 (2, 66),
 (2, 67),
 (2, 68),
 (2, 69),
 (2, 70),
 (2, 71),
 (2, 72),
 (2, 73),
 (2, 74),
 (2, 75),
 (2, 76),
 (2, 77),
 (2, 78),
 (2, 79),
 (2, 80),
 (2, 81),
 (2, 82),
 (2, 83),
 (2, 84),
 (2, 85),
 (2, 86),
 (2, 87),
 (2, 88),
 (2, 89),
 (2, 90),
 (2, 91),
 (2, 92),
 (2, 93),
 (2, 94),
 (2, 95),
 (2, 96),
 (2, 97),
 (2, 98),
 (2, 99),
 (2, 100),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (3, 15),
 (3, 16),
 (3, 17),
 (3, 18),
 (3, 19),
 (3, 20),
 (3, 21),
 (3, 22),
 (3, 23),
 (3, 24),
 (3, 25),
 (3, 26),
 (3, 27),
 (3, 28),
 (3, 29),
 (3, 30),
 (3, 31),
 (3, 32),
 (3, 33),
 (3, 34),
 (3, 35),
 (3, 36),
 (3, 37),
 (3, 38),
 (3, 39),
 (3, 40),
 (3, 41),
 (3, 42),
 (3, 43),
 (3, 44),
 (3, 45),
 (3, 46),
 (3, 47),
 (3, 48),
 (3, 49),
 (3, 50),
 (3, 51),
 (3, 52),
 (3, 53),
 (3, 54),
 (3, 55),
 (3, 56),
 (3, 57),
 (3, 58),
 (3, 59),
 (3, 60),
 (3, 61),
 (3, 62),
 (3, 63),
 (3, 64),
 (3, 65),
 (3, 66),
 (3, 67),
 (3, 68),
 (3, 69),
 (3, 70),
 (3, 71),
 (3, 72),
 (3, 73),
 (3, 74),
 (3, 75),
 (3, 76),
 (3, 77),
 (3, 78),
 (3, 79),
 (3, 80),
 (3, 81),
 (3, 82),
 (3, 83),
 (3, 84),
 (3, 85),
 (3, 86),
 (3, 87),
 (3, 88),
 (3, 89),
 (3, 90),
 (3, 91),
 (3, 92),
 (3, 93),
 (3, 94),
 (3, 95),
 (3, 96),
 (3, 97),
 (3, 98),
 (3, 99),
 (3, 100),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14),
 (4, 15),
 (4, 16),
 (4, 17),
 (4, 18),
 (4, 19),
 (4, 20),
 (4, 21),
 (4, 22),
 (4, 23),
 (4, 24),
 (4, 25),
 (4, 26),
 (4, 27),
 (4, 28),
 (4, 29),
 (4, 30),
 (4, 31),
 (4, 32),
 (4, 33),
 (4, 34),
 (4, 35),
 (4, 36),
 (4, 37),
 (4, 38),
 (4, 39),
 (4, 40),
 (4, 41),
 (4, 42),
 (4, 43),
 (4, 44),
 (4, 45),
 (4, 46),
 (4, 47),
 (4, 48),
 (4, 49),
 (4, 50),
 (4, 51),
 (4, 52),
 (4, 53),
 (4, 54),
 (4, 55),
 (4, 56),
 (4, 57),
 (4, 58),
 (4, 59),
 (4, 60),
 (4, 61),
 (4, 62),
 (4, 63),
 (4, 64),
 (4, 65),
 (4, 66),
 (4, 67),
 (4, 68),
 (4, 69),
 (4, 70),
 (4, 71),
 (4, 72),
 (4, 73),
 (4, 74),
 (4, 75),
 (4, 76),
 (4, 77),
 (4, 78),
 (4, 79),
 (4, 80),
 (4, 81),
 (4, 82),
 (4, 83),
 (4, 84),
 (4, 85),
 (4, 86),
 (4, 87),
 (4, 88),
 (4, 89),
 (4, 90),
 (4, 91),
 (4, 92),
 (4, 93),
 (4, 94),
 (4, 95),
 (4, 96),
 (4, 97),
 (4, 98),
 (4, 99),
 (4, 100),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 10),
 (5, 11),
 (5, 12),
 (5, 13),
 (5, 14),
 (5, 15),
 (5, 16),
 (5, 17),
 (5, 18),
 (5, 19),
 (5, 20),
 (5, 21),
 (5, 22),
 (5, 23),
 (5, 24),
 (5, 25),
 (5, 26),
 (5, 27),
 (5, 28),
 (5, 29),
 (5, 30),
 (5, 31),
 (5, 32),
 (5, 33),
 (5, 34),
 (5, 35),
 (5, 36),
 (5, 37),
 (5, 38),
 (5, 39),
 (5, 40),
 (5, 41),
 (5, 42),
 (5, 43),
 (5, 44),
 (5, 45),
 (5, 46),
 (5, 47),
 (5, 48),
 (5, 49),
 (5, 50),
 (5, 51),
 (5, 52),
 (5, 53),
 (5, 54),
 (5, 55),
 (5, 56),
 (5, 57),
 (5, 58),
 (5, 59),
 (5, 60),
 (5, 61),
 (5, 62),
 (5, 63),
 (5, 64),
 (5, 65),
 (5, 66),
 (5, 67),
 (5, 68),
 (5, 69),
 (5, 70),
 (5, 71),
 (5, 72),
 (5, 73),
 (5, 74),
 (5, 75),
 (5, 76),
 (5, 77),
 (5, 78),
 (5, 79),
 (5, 80),
 (5, 81),
 (5, 82),
 (5, 83),
 (5, 84),
 (5, 85),
 (5, 86),
 (5, 87),
 (5, 88),
 (5, 89),
 (5, 90),
 (5, 91),
 (5, 92),
 (5, 93),
 (5, 94),
 (5, 95),
 (5, 96),
 (5, 97),
 (5, 98),
 (5, 99),
 (5, 100),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (6, 10),
 (6, 11),
 (6, 12),
 (6, 13),
 (6, 14),
 (6, 15),
 (6, 16),
 (6, 17),
 (6, 18),
 (6, 19),
 (6, 20),
 (6, 21),
 (6, 22),
 (6, 23),
 (6, 24),
 (6, 25),
 (6, 26),
 (6, 27),
 (6, 28),
 (6, 29),
 (6, 30),
 (6, 31),
 (6, 32),
 (6, 33),
 (6, 34),
 (6, 35),
 (6, 36),
 (6, 37),
 (6, 38),
 (6, 39),
 (6, 40),
 (6, 41),
 (6, 42),
 (6, 43),
 (6, 44),
 (6, 45),
 (6, 46),
 (6, 47),
 (6, 48),
 (6, 49),
 (6, 50),
 (6, 51),
 (6, 52),
 (6, 53),
 (6, 54),
 (6, 55),
 (6, 56),
 (6, 57),
 (6, 58),
 (6, 59),
 (6, 60),
 (6, 61),
 (6, 62),
 (6, 63),
 (6, 64),
 (6, 65),
 (6, 66),
 (6, 67),
 (6, 68),
 (6, 69),
 (6, 70),
 (6, 71),
 (6, 72),
 (6, 73),
 (6, 74),
 (6, 75),
 (6, 76),
 (6, 77),
 (6, 78),
 (6, 79),
 (6, 80),
 (6, 81),
 (6, 82),
 (6, 83),
 (6, 84),
 (6, 85),
 (6, 86),
 (6, 87),
 (6, 88),
 (6, 89),
 (6, 90),
 (6, 91),
 (6, 92),
 (6, 93),
 (6, 94),
 (6, 95),
 (6, 96),
 (6, 97),
 (6, 98),
 (6, 99),
 (6, 100),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (7, 10),
 (7, 11),
 (7, 12),
 (7, 13),
 (7, 14),
 (7, 15),
 (7, 16),
 (7, 17),
 (7, 18),
 (7, 19),
 (7, 20),
 (7, 21),
 (7, 22),
 (7, 23),
 (7, 24),
 (7, 25),
 (7, 26),
 (7, 27),
 (7, 28),
 (7, 29),
 (7, 30),
 (7, 31),
 (7, 32),
 (7, 33),
 (7, 34),
 (7, 35),
 (7, 36),
 (7, 37),
 (7, 38),
 (7, 39),
 (7, 40),
 (7, 41),
 (7, 42),
 (7, 43),
 (7, 44),
 (7, 45),
 (7, 46),
 (7, 47),
 (7, 48),
 (7, 49),
 (7, 50),
 (7, 51),
 (7, 52),
 (7, 53),
 (7, 54),
 (7, 55),
 (7, 56),
 (7, 57),
 (7, 58),
 (7, 59),
 (7, 60),
 (7, 61),
 (7, 62),
 (7, 63),
 (7, 64),
 (7, 65),
 (7, 66),
 (7, 67),
 (7, 68),
 (7, 69),
 (7, 70),
 (7, 71),
 (7, 72),
 (7, 73),
 (7, 74),
 (7, 75),
 (7, 76),
 (7, 77),
 (7, 78),
 (7, 79),
 (7, 80),
 (7, 81),
 (7, 82),
 (7, 83),
 (7, 84),
 (7, 85),
 (7, 86),
 (7, 87),
 (7, 88),
 (7, 89),
 (7, 90),
 (7, 91),
 (7, 92),
 (7, 93),
 (7, 94),
 (7, 95),
 (7, 96),
 (7, 97),
 (7, 98),
 (7, 99),
 (7, 100),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (8, 10),
 (8, 11),
 (8, 12),
 (8, 13),
 (8, 14),
 (8, 15),
 (8, 16),
 (8, 17),
 (8, 18),
 (8, 19),
 (8, 20),
 (8, 21),
 (8, 22),
 (8, 23),
 (8, 24),
 (8, 25),
 (8, 26),
 (8, 27),
 (8, 28),
 (8, 29),
 (8, 30),
 (8, 31),
 (8, 32),
 (8, 33),
 (8, 34),
 (8, 35),
 (8, 36),
 (8, 37),
 (8, 38),
 (8, 39),
 (8, 40),
 (8, 41),
 (8, 42),
 (8, 43),
 (8, 44),
 (8, 45),
 (8, 46),
 (8, 47),
 (8, 48),
 (8, 49),
 (8, 50),
 (8, 51),
 (8, 52),
 (8, 53),
 (8, 54),
 (8, 55),
 (8, 56),
 (8, 57),
 (8, 58),
 (8, 59),
 (8, 60),
 (8, 61),
 (8, 62),
 (8, 63),
 (8, 64),
 (8, 65),
 (8, 66),
 (8, 67),
 (8, 68),
 (8, 69),
 (8, 70),
 (8, 71),
 (8, 72),
 (8, 73),
 (8, 74),
 (8, 75),
 (8, 76),
 (8, 77),
 (8, 78),
 (8, 79),
 (8, 80),
 (8, 81),
 (8, 82),
 (8, 83),
 (8, 84),
 (8, 85),
 (8, 86),
 (8, 87),
 (8, 88),
 (8, 89),
 (8, 90),
 (8, 91),
 (8, 92),
 (8, 93),
 (8, 94),
 (8, 95),
 (8, 96),
 (8, 97),
 (8, 98),
 (8, 99),
 (8, 100),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9),
 (9, 10),
 (9, 11),
 (9, 12),
 (9, 13),
 (9, 14),
 (9, 15),
 (9, 16),
 (9, 17),
 (9, 18),
 (9, 19),
 (9, 20),
 (9, 21),
 (9, 22),
 (9, 23),
 (9, 24),
 (9, 25),
 (9, 26),
 (9, 27),
 (9, 28),
 (9, 29),
 (9, 30),
 (9, 31),
 (9, 32),
 (9, 33),
 (9, 34),
 (9, 35),
 (9, 36),
 (9, 37),
 (9, 38),
 (9, 39),
 (9, 40),
 (9, 41),
 (9, 42),
 (9, 43),
 (9, 44),
 (9, 45),
 (9, 46),
 (9, 47),
 (9, 48),
 (9, 49),
 (9, 50),
 (9, 51),
 (9, 52),
 (9, 53),
 (9, 54),
 (9, 55),
 (9, 56),
 (9, 57),
 (9, 58),
 (9, 59),
 (9, 60),
 (9, 61),
 (9, 62),
 (9, 63),
 (9, 64),
 (9, 65),
 (9, 66),
 (9, 67),
 (9, 68),
 (9, 69),
 (9, 70),
 (9, 71),
 (9, 72),
 (9, 73),
 (9, 74),
 (9, 75),
 (9, 76),
 (9, 77),
 (9, 78),
 (9, 79),
 (9, 80),
 (9, 81),
 (9, 82),
 (9, 83),
 (9, 84),
 (9, 85),
 (9, 86),
 (9, 87),
 (9, 88),
 (9, 89),
 (9, 90),
 (9, 91),
 (9, 92),
 (9, 93),
 (9, 94),
 (9, 95),
 (9, 96),
 (9, 97),
 (9, 98),
 (9, 99),
 (9, 100),
 (10, 1),
 (10, 2),
 (10, 3),
 (10, 4),
 (10, 5),
 (10, 6),
 (10, 7),
 (10, 8),
 (10, 9),
 (10, 10),
 (10, 11),
 (10, 12),
 (10, 13),
 (10, 14),
 (10, 15),
 (10, 16),
 (10, 17),
 (10, 18),
 (10, 19),
 (10, 20),
 (10, 21),
 (10, 22),
 (10, 23),
 (10, 24),
 (10, 25),
 (10, 26),
 (10, 27),
 (10, 28),
 (10, 29),
 (10, 30),
 (10, 31),
 (10, 32),
 (10, 33),
 (10, 34),
 (10, 35),
 (10, 36),
 (10, 37),
 (10, 38),
 (10, 39),
 (10, 40),
 (10, 41),
 (10, 42),
 (10, 43),
 (10, 44),
 (10, 45),
 (10, 46),
 (10, 47),
 (10, 48),
 (10, 49),
 (10, 50),
 (10, 51),
 (10, 52),
 (10, 53),
 (10, 54),
 (10, 55),
 (10, 56),
 (10, 57),
 (10, 58),
 (10, 59),
 (10, 60),
 (10, 61),
 (10, 62),
 (10, 63),
 (10, 64),
 (10, 65),
 (10, 66),
 (10, 67),
 (10, 68),
 (10, 69),
 (10, 70),
 (10, 71),
 (10, 72),
 (10, 73),
 (10, 74),
 (10, 75),
 (10, 76),
 (10, 77),
 (10, 78),
 (10, 79),
 (10, 80),
 (10, 81),
 (10, 82),
 (10, 83),
 (10, 84),
 (10, 85),
 (10, 86),
 (10, 87),
 (10, 88),
 (10, 89),
 (10, 90),
 (10, 91),
 (10, 92),
 (10, 93),
 (10, 94),
 (10, 95),
 (10, 96),
 (10, 97),
 (10, 98),
 (10, 99),
 (10, 100)]

In [ ]:
# make market-product data
M =

In [ ]:
# make market-product data
M <- 
  expand.grid(
    j = 1:J, 
    t = 1:T
    ) %>%
    tibble::as_tibble() %>%
    dplyr::mutate(
      xi = sd_xi * rnorm(J * T),
      c = exp(sd_c * rnorm(J * T)),
      p = exp(price_xi * xi + sd_p * rnorm(J * T)) + c
    ) 
M <- 
  M %>%
  dplyr::group_by(t) %>%
  dplyr::sample_frac(size = purrr::rdunif(1, J) / J) %>%
  dplyr::ungroup()
# add outside option
outside <- 
  data.frame(
    j = 0, 
    t = 1:T, 
    xi = 0, 
    c = 0, 
    p = 0
    )
M <- 
  rbind(
    M,
    outside
    ) %>%
  dplyr::arrange(
    t, 
    j
    )
M

In [28]:
X

array([[ 1.46454271, -1.28515078],
       [-0.35618635, -1.14790912],
       [-0.40875063, -0.9729902 ],
       [-0.37155065, -0.76107283],
       [ 0.17795527,  0.12734332],
       [ 0.59269422,  2.80554224],
       [-3.09372514,  2.59123717],
       [-0.47450089, -2.46469241],
       [-0.34483953,  0.18367675],
       [ 2.13511691, -2.1232689 ]])

In [51]:
np.arange(1, J+1).reshape(1,-1)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]])

In [30]:
X = np.concatenate((np.ones((J,1)), X), axis=1)